body {
  font-family: sans-serif;

  header {
    ul {
      background-color: #051c2d;
      color: white;
      display: flex;
      justify-content: center;
      transition: all 0.1s;
      &:hover {
        color: gray;
      }

      li {
        font-size: 62.5%;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        list-style: none;
        min-height: 50px;
        padding: 0px 20px;
        cursor: pointer;
        transition: all 0.1s;
        &:hover {
          color: white;
        }
      }
    }
  }
}
